/* Your code here */
.wgs {
  height:241px;
  width: 320px;
  position:relative;
  display:inline-block;
  overflow:hidden;

}
.wgs__mole-head	{
  height:188px;
  width: 178px;
  position:absolute;
  left: 54.5px;
  transition-property: margin-top, transform, opacity;
  transition-duration: 0.25s;
}
.wgs__dirt-pile	{
  height:110px;
  width: 320px;
  position:absolute;
  top: 131px;
}

.wgs__mole-head--hidden{
  margin-top:241px;
}

.wgs__mole-head--whacked{
  transform: rotate(0.5turn)
}

.pf{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}
